<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 리스트</title>

    <link th:href="@{/css/allProduct.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />

</head>
<body>
    <header th:replace="etc/header :: headerFragment"></header>
    <div class="container">
        <br>

        <form th:action="@{/products}" method="get">
            <input type="text" name="searchKeyword">
            <button type="submit">검색</button>
        </form>
        <br><br><br>

        <!-- 카테고리 필터링을 위한 카테고리 리스트 추가 -->
        <div>
            <ul>
                <li>
                    <a th:href="@{/products}">전체 카테고리</a>
                </li>
                <li th:each="category : ${categories}">
                    <a th:href="@{/products(category=${category.categoryNo})}" th:text="${category.categoryName}"></a>
                </li>
            </ul>
        </div>
        <br><br><br>

        <div class="product-grid">
            <div th:each="product : ${products}" class="product-card">
                <a th:href="@{'/products/' + ${product.productNo}}">
                    <img th:src="@{'/uploads/' + ${product.productImage1}}" alt="Uploaded Image">
                </a>
                <a th:href="@{'/products/' + ${product.productNo}}" class="product-name"
                   th:text="${product.productName}"></a>
                <p th:text="${product.productDescription}"></p>
                <p class="product-price" th:text="${product.productPrice} + '원'"></p>
                <div class="product-actions">
                    <a th:href="@{/products/{productId}/edit(productId=${product.productNo})}" th:if="${session.isAdmin}"
                       class="action-btn">Edit</a>
                    <form th:action="@{/products/{productId}/delete(productId=${product.productNo})} " method="post"
                          th:if="${session.isAdmin}">
                        <button type="submit" class="action-btn" onclick="return confirmDelete()">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <br>

        <a th:href="@{/products/add(memberId=${session.isAdmin})}" th:if="${session.isAdmin}"
           class="action-btn">상품 추가하기</a>
        <a th:href="@{/categories(memberId=${session.isAdmin})}" th:if="${session.isAdmin}"
           class="action-btn">카테고리 추가하기</a>

    </div>
    <script>
        function confirmDelete() {
            return confirm("상품을 삭제 하시겠습니까?");
        }
    </script>

</body>
<footer th:replace="etc/footer :: footerFragment"></footer>
</html>
