<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
<title>장바구니</title>

<style>
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield; /* Firefox */
}

* {
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#cart-container {
	width: 1200px;
	margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tfoot td {
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

/* 이전에 제공된 CSS 스타일을 유지합니다 */

.quantity-input {
  display: flex;
  align-items: center;
}

.quantity-input input {
  width: 50px;
  text-align: center;
}

.quantity-buttons {
  display: flex;
  flex-direction: column;
}

.quantity-buttons button {
  padding: 5px;
  font-weight: bold;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.quantity-buttons button:hover {
  background-color: #e0e0e0;
}


</style>
</head>
  <header th:replace="etc/header :: headerFragment"></header>
<body>

	
	<div id="cart-container">
	<br><br><br>
	<h1>장바구니</h1>


		<table>
			<thead>
				<tr>
					<th>상품명</th>
					<th>가격</th>
					<th>수량</th>
					<th>총 가격</th>
				</tr>
			</thead>
			<tbody>
			
				<th:block th:if="${basketProducts != null}">
				
				<tr th:each="basketProduct : ${basketProducts}">
					
					<td>
						<div th:text="${basketProduct.product.productName}"></div>
					</td>
					<td>
						<div th:text="${basketProduct.product.productPrice}" class="productPrice"></div>
					</td>
					<td>     
						<input type="hidden" th:value="${basketProduct.basketProductNo}" class="basketProductNo" />
						<input type="hidden" th:value="${basketProduct.basket.basketNo}" class="basketNo" />
						<input type="hidden" th:value="${basketProduct.product.productNo}" class="productNo"/>
				        <div class="quantity-input">
				          <button class="quantity-decrease">-</button>
				          <input type="number" min="1" th:value="${basketProduct.basketQty}" name="basketQty" class="basketQty"/>
				          <button class="quantity-increase">+</button>
				        </div>
					</td>
					<td style="display:flex; position: relative; align-items: center;">
						<span th:text="${basketProduct.basketProductAmount}" class="basketProductAmount"></span>
						<span style="position:absolute; right: 10px;">
							<a th:href="@{/cart/delete/{basketNo}/{basketProductNo}(basketProductNo=${basketProduct.basketProductNo},basketNo=${basketProduct.basket.basketNo})}" class="delete-btn" style="font-size:18px; font-weight:bold; color:#000;">x</a>
						</span>	
					
					</td>

				</tr>
				
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">총 합계</td>
					<td th:if="${basket != null}" th:text="|${basket.basketAmount}원|" class="basketAmount"></td>
				</tr>
			</tfoot>
				
		</table>
		
		<button type="button" onclick="submitForm()" class="buy-btn">구매하기</button>
		
		</th:block>
		<form id="myForm" method="POST" th:action="@{/cart/buy}"></form>
		<div th:if="${basketProducts == null}">
			<div th:text="${msg}"></div>
		</div>

	</div>
	

	
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>



	
	
	
 	
	const increaseBtn = document.querySelectorAll('.quantity-increase');
	const decreaseBtn = document.querySelectorAll('.quantity-decrease');
	const basketNo = document.querySelectorAll('.basketNo');
	const basketProductNo = document.querySelectorAll('.basketProductNo');
	const productPrice = document.querySelectorAll('.productPrice');
	const basketProductAmount = document.querySelectorAll('.basketProductAmount');
	const basketAmount = document.querySelector('.basketAmount');
	const basketQty = document.querySelectorAll('.basketQty');
	const productNo = document.querySelectorAll('.productNo');
	
	let thisBasketNo = null;
	let thisBasketProductNo = null;
	let thisProductPrice = null;
	let thisProductAmount = null;
	let thisBasketAmount = null;
	let updateBasketAmount = null;
	
	
 	function submitForm() {

		  
		  var basketProductNoInputs = [];
			
		  // basketQtyElements를 순회하며 basketQtyInputs에 index를 적용한 input 요소들을 추가합니다.
		  for (var i = 0; i < basketProductNo.length; i++) {
		    var input = document.createElement('input');
		    input.type = 'number';
		    input.name = 'basketProducts[' + i + '].basketProductNo';
		    input.value = basketProductNo[i].value;
		    basketProductNoInputs.push(input);
		  }

		  // myForm에 생성한 input 요소들을 추가합니다.
		  var myForm = document.getElementById('myForm');
		  for (var i = 0; i < basketProductNoInputs.length; i++) {
		    myForm.appendChild(basketProductNoInputs[i]);
		  }

		  // 폼을 전송합니다.
 		  myForm.submit(); 
		} 

	
/* 	const buyBtn = document.querySelector('#cart-container .buy-btn');

	buyBtn.addEventListener('click', e => {
		e.preventDefault();
		basketNo.forEach((ele,index) => {
			const data = {
				basketProductNo : basketProductNo[index].value,
				basketQty : basketQty[index].value,
				basketProductAmount : basketProductAmount[index].innerText,
				
			};
			
			fetch("http://localhost:8080/cart/buy", {
	        method: 'POST',
	        headers: {
	            'Content-Type': 'application/json',
	          },
	        body: JSON.stringify(data),
	      })
	        .then(response => {
	            if (response.ok) {
	                window.location.href = '/cart/buy';
	            } else {
	            	
	            }
	        })
	        .catch(error => {
	            console.error('Error:', error);

	        });
		})

		
	})
	 */

      
	
	
	// + 버튼 클릭
	increaseBtn.forEach((ele, index) => {
		ele.addEventListener('click', function() {
			let itemQty = this.parentNode.querySelector('input[type="number"]');
			itemQty.value++;
			// update한 basketNo
			thisBasketNo = basketNo[index].value;
			// update한 상품 번호
			thisBasketProductNo = basketProductNo[index].value;
			// update하기전 상품의 가격 text
			thisProductPrice = productPrice[index].innerText;
			// update한 상품의 가격
			thisProductAmount = itemQty.value * Number(thisProductPrice);
			// 현재 장바구니 총 가격
			thisBasketAmount = Number(basketAmount.innerText.split('원')[0]);
			// update한 장바구니 총가격
			updateBasketAmount = thisBasketAmount + Number(thisProductPrice);
			
			basketAmount.innerText = updateBasketAmount;

			// update한 상품의 가격 innerText
			basketProductAmount[index].innerText = thisProductAmount;
			
			
			updateQty(thisBasketNo, thisBasketProductNo, itemQty.value, thisProductAmount, updateBasketAmount);
		})
	}) 
	
	// - 버튼 클릭
	decreaseBtn.forEach((ele, index) => {
		ele.addEventListener('click', function() {
			let itemQty = this.parentNode.querySelector('input[type="number"]');
		    if (parseInt(itemQty.value) > 1) {
		    	itemQty.value--;
		    	thisBasketNo = basketNo[index].value;
		    	thisBasketProductNo = basketProductNo[index].value;
				thisProductPrice = productPrice[index].innerText;
				thisProductAmount = itemQty.value * Number(thisProductPrice);
				thisBasketAmount = Number(basketAmount.innerText.split('원')[0]);
				updateBasketAmount = thisBasketAmount - Number(thisProductPrice);
				basketAmount.innerText = updateBasketAmount;
				basketProductAmount[index].innerText = thisProductAmount;
	
		    	updateQty(thisBasketNo, thisBasketProductNo, itemQty.value, thisProductAmount, updateBasketAmount);
			}
		})

	}) 
	
	function updateQty(basketNo, thisBasketProductNo, itemQty, thisProductAmount, thisBasketAmount) {
		const data = {
			basketProductNo : thisBasketProductNo,
			basketNo: basketNo,
			basketQty: itemQty,
			basketProductAmount: thisProductAmount,
			basketAmount : thisBasketAmount
		};
		
 	    fetch("http://localhost:8080/cart/update", {
	        method: 'POST',
	        headers: {
	            'Content-Type': 'application/json',
	          },
	        body: JSON.stringify(data),
	      })
	        .then(response => {
	        	console.log("response: " +response)
	        })
	        .then(data => {
	        	console.log("data: " +data)
	        })
	        .catch(err => {
	          setSnackbarMessage(err.message);
	        }); 
	}
	

	</script>


</body>
</html>